.head-banner {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-size: cover;
    background-position: center ;
    background-image: url(/assets/img/code.jpg);
}

.icon-section {
    h3 {
        margin-top: 8px;
    }
    div {
        margin: 1rem 0 1rem 0;
    }
    svg {
        font-size: 60px;
    }
}

.img-section {
    .image {
        min-height: 15rem;
        background-size: cover;
        background-position: center;
    }
    .text {
        padding: 3rem;
        text-align: center;
    }
}

@media screen and (min-width: 768px){
.head-banner {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.icon-section {
    div {
        margin: 2rem 0 2rem 0;
    }
}

.img-section {
    .image {
        min-height: 30rem;
        background-size: cover;
        background-position: center;
    }
    .text {
        padding: 7rem;
        text-align: center;
    }
}

}



