body {
    font-family: 'cutiveMono';
    min-width: 350px;
}

svg {
    margin: 0 0 auto;
}

.navbar {
    a {
        color: rgb(255, 255, 255) !important;
        height: fit-content;
        box-sizing: border-box;
    }

    .navbar-brand {
        color: $lightRed !important;
        font-size: 2rem;
    }

}

.contacts {

    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 100%;    
    background: $lightRed;
    // padding: 10px;
    bottom: 50px;
    right: 5px;
    z-index: 100;

    .dropdown-menu {
        // width: 70px !important;
        min-width:fit-content;
        background-color: $white;
        transform: translate3d(-0px, -60px, 0px) !important;
        
    }
    
}


.container {
    h1 {
        background-color: $lightRed;
        color: $white;
        border-radius: 50px;
        padding: 30px;
        right: 0;
    }
}

.head-banner {
    padding-top: 6rem;
    padding-bottom: 3.5rem;
    height: 100vh;
    width: 100vw;
    min-height: 844px;
    font-family: 'Comfortaa', monotype;
    font-size: 4rem !important;
    // background-size: cover;
    // background-position: center ;
    // background-image: url(/assets/img/code.svg);

    h1,
    h2 {
        font-size: 2.5rem !important;
        min-width: max-content;
    }

    h3 {
        font-size: 2.5rem !important;
    }
}



.icon-section {
    h3 {
        margin-top: 8px;
    }

    div {
        margin: 0.5rem 0 0.5rem 0;
    }

    svg {
        font-size: 60px;
    }
}

.img-section {
    width: 100%;

    .image {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .text {
        // padding: 3rem;
        text-align: center;
    }

    svg {
        font-size: 80px;
    }

}


#skills {
    .card {
        border: none;
        border-radius: 25px;
        // box-shadow: -3px 6px 5px 0px hsla(214, 35%, 37%, 0.436);
        transition: all .3s ease-in-out;
        
    }

    .card:hover {
        background-color: #669bbc;
        box-shadow: 0px 0px 20px 0px rgba(99, 89, 99, 1);
        color: $white;
        z-index: 1;
    }

    svg {
        width: 3.5em;
        height: 3.5em;
    }
}


    .moreWork:hover {
        font-size: 1.2em;
    }


.carousel-item {
    a {

        img {
            height: 100px;
        }
    }
}


@media screen and (min-width: 768px) {
    .head-banner {

        padding-top: 8rem;
        padding-bottom: 5.5rem;
        height: max-content !important;

        h1 {
            font-size: 4rem !important;
            margin-top: 1.5rem !important;
        }

    }

    .contacts {    
        width: 100px;
        height: 100px;
        bottom: 40px;
    }

    .contacts:hover {
        box-shadow: 0px 0px 20px 0px rgba(99, 89, 99, 1);
        color: $white;
        z-index: 1;
    }

    #profile {

        padding-top: -40px;
        margin-top: 40px;
        
        div {
            text-align: justify !important;
        }
    }

    .icon-section {
        div {
            margin: 2rem 0 2rem 0;
        }
    }

    .img-section {

        width: 100%;

        .image {
            min-height: 15rem;
            background-size: cover;
            background-position: center;        
        }

        .text {
            padding: 7rem;
            text-align: center;
        }
    }

}