body {
    min-width: 288px;
}


.navbar {
    a {
        color: rgb(255, 255, 255) !important;
    }

}

.head-banner {
    padding: 0.5rem 0 0.5rem 0;
    background-size: cover;
    background-position: center ;
    background-image: url(/assets/img/code.svg);
}

.icon-section {
    h3 {
        margin-top: 8px;
    }
    div {
        margin: 0.5rem 0 0.5rem 0;
    }
    svg {
        font-size: 60px;
    }
}

.img-section {
    width: 100%;

    .image {
        min-height: 15rem;
        background-size: cover;
        background-position: center;
    }
    .text {
        padding: 3rem;
        text-align: center;
    }
}

@media screen and (min-width: 768px){
.head-banner {
    height: 100vh;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.icon-section {
    div {
        margin: 2rem 0 2rem 0;
    }
}

.img-section {

    width: 100%;

    .image {
        min-height: 30rem;
        background-size: cover;
        background-position: center;
    }
    .text {
        padding: 7rem;
        text-align: center;
    }
}

}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .head-banner {
        height: 60vh;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}
